<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
		<div id="example-1">
		  <!--文本-->
		  <input v-model="message" placeholder="edit me">
		  <p>Message is: {{ message }}</p>
		  
		  <!--多行文本-->
		  <span>Multiline message is:</span>
		  <p style="white-space: pre-line;">{{ message }}</p>
		  <br>
		  <textarea v-model="message" placeholder="add multiple lines"></textarea>
			
		  <!--复选框-->
		  <input type="checkbox" id="checkbox" v-model="checked">
		  <label for="checkbox">{{ checked }}</label>
		</div>

        <script src="vmodaldetail.js"></script>
    </body>
</html>

